
.drink-item-container {
    display: flex;
    width: 100%;
}

.drinkPicture {
    width: 15rem;
    height: 15rem;
    background: red;
    margin: 1rem;
}

.drinkName {
    font-size: 3rem;
}



@media (max-width: 670px) {

    .contentContainer{
        flex-direction: column;
        text-align: center;
    }
    
    .drinkPicture {
        margin-top: 3rem;
    }

    .drinkName {
        margin: 0; 
    }

    .drinkDescription {
        padding: 0 2rem;
        text-align: justify;
    }

}