
.image-container-drinkCard {
    background-color: white;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.3rem;
    border-radius: .5rem;
}

.image-drinkCard {
    width: 100%;
    object-fit: cover;
}

/* Mobile view */
@media (max-width: 414px) {
    .image-container-drinkCard {
        width: 75%;
        margin: 0 auto;
    }
    
}