.background-image {
    background: url(../..//assets/background-image-medium.jpg);
    height: 100vh;
    display: flex;
    background-position: center;
    
}

.rootStyle {
    justify-content: center;
    align-items: center;
}

input {
    height: 2rem;
    width: 25rem;
    border-radius: 25px;
    border: unset;
    padding: .2rem;
}

@media (max-width: 550px) {
    input {
        width: 14rem; 
    } 
}