.rapidapi-Header {
    margin: 0;
    display: flex;
}

.start-header {
    margin-top: 0;
    position: absolute;
    width: 100%;
    height: 8rem;

    background: linear-gradient(180deg, #5D2232 12.51%, rgba(140, 76, 106, 0) 100%);
}

.logo {
    font-family: 'Rochester', cursive;
    color: white;
    font-size: 5rem;
    padding-left: 4rem;
    margin-top: 1rem;
    font-weight: 500;
}

/* Smaller screens */
@media (max-width: 350px) {
    .logo {
        display: flex;
        justify-content: center;
        font-size: 3rem;
    }
}